[Unit]
Description=Python HTTPS Web Server

[Service]
Type=simple
WorkingDirectory=/home/pi/httpsserver/
ExecStart=python3 server.py
Restart=always

[Install]
WantedBy=multi-user.target
