[Unit]
Description=Python HTTPS Web Server

[Service]
Type=simple
WorkingDirectory=/home/pi/RackSlashSpace/
ExecStart=/usr/bin/sudo /usr/bin/python3 server.py
Restart=always

[Install]
WantedBy=multi-user.target
